:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(79deg, #fcfced, #8674ff 68%, #ebf6ff);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.8rem 0;
}

input {
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-button {
  background: none;
  color: white;
  text-decoration: underline;
}
