.accordion-flush {
  /* background-color: rgb(250, 215, 231); */
}

/* no change can be made here when it comes to font size?
     how do I choose width, there is no difference between 300, 500 and 1000px? */
.search-crtieria-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
}

.search-crtieria-container .accordion {
  flex: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-crtieria-container .accordion-item {
  background-color: aqua;
}
.search-crtieria-container .accordion-button {
  background-color: aqua;
}
